doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Pearlian.net
  body
    .header
      h1.page-title PEARLIAN.NET

    ul.nav
      li: a(href='/') Home
      li: a(href='other') Another page
      li: a(href='albinso') Albinso
    
    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
