extend default

block content
  p.
    The Pearlian is a cool kid with a nice Per-90 and a lot of Negevs. He also loves Charizard.
  p.

  p.
    Code based of "https://github.com/bengourley/basic-express-site-2016"